<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div id="mainContainer" class="container">
    <div id="mainContainerRepleace" class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th data-field="id">博客ID</th>
                <th data-field="username">用户账号</th>
                <th data-field="name">用户姓名</th>
                <th data-field="title">博客标题</th>
                <th data-field="operation">操作</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="blog : ${adminBlogs}">
                <td th:text="${blog.id}">1</td>
                <td th:text="${blog.user.username}">1</td>
                <td th:text="${blog.user.name}">1</td>
                <td>
                <a th:href="'/u/' + ${blog.user.username} + '/blogs/'+ ${blog.id}"  th:title="${blog.title}" th:text="${blog.title}">
                </a>
                </td>
                <td>
                    <div>
                         <a class="blog-delete-admin" role="button"
                            th:attr="blogId=*{blog.id}"> <i class="fa fa-times"
                                                                     aria-hidden="true"></i>
                         </a>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>
        <div th:replace="~{fragments/page :: page}">...</div>

    </div>
</div>

<!-- JavaScript -->
<script src="../../js/userspace/blogs.js" th:src="@{/js/userspace/blogs.js}"></script>


